---
version: '2.1'

services:
  backend:
    image: starrocks/be-ubuntu:latest
    container_name: starrocks-backend
    hostname: starrocks-backend
    command: be/bin/start_be.sh
    ports:
      - 8040:8040  # HTTP
      - 9051:9050  # For FE (9050 overlaps with tor)
    volumes:
      - ./starrocks-be/storage:/opt/starrocks/be/storage
      - ./starrocks-be/log:/opt/starrocks/be/log
      # Preserve bash & mysql client history
      - ./starrocks-be/root:/root

  frontend:
    image: starrocks/fe-ubuntu:latest
    container_name: starrocks-frontend
    hostname: starrocks-frontend
    depends_on:
      - backend
    # By default it uses IP addresses, and after containers restart IP
    # addresses likely will be changed and FE will not be able to access BE
    # [1].
    #
    #   [1]: https://docs.starrocks.io/en-us/latest/administration/enable_fqdn
    command: fe/bin/start_fe.sh --host_type FQDN
    ports:
      - 9030:9030  # MYSQL
      - 8030:8030  # HTTP
    volumes:
      - ./starrocks-fe/meta:/opt/starrocks/fe/meta
      - ./starrocks-fe/log:/opt/starrocks/fe/log
      # Preserve bash & mysql client history
      - ./starrocks-fe/root:/root

  # docker exec -it starrocks-backend mysql -P9030 -h starrocks-frontend
  client:
    image: mariadb
    command: sh -c 'sleep 30; mysql -vvv -hstarrocks-frontend -P9030 -uroot'
    depends_on:
      - frontend

  # Here is example of adding more backends.
  # You can simply uncomment backend-2 section, and run:
  #
  #     docker-compose up -d backend-2
  #     docker exec starrocks-backend mysql -vvv -hstarrocks-frontend -P9030 -uroot -e "ALTER SYSTEM ADD BACKEND 'starrocks-backend-2:9050'"
  #
  # Note, this will start auto scale out of data [1].
  #
  #   [1]: https://docs.starrocks.io/en-us/latest/administration/Scale_up_down
  #
  backend-2:
    image: starrocks/be-ubuntu:latest
    container_name: starrocks-backend-2
    hostname: starrocks-backend-2
    command: be/bin/start_be.sh
    ports:
      - 8040  # HTTP
      - 9050  # For FE
    volumes:
      - ./starrocks-be-2/storage:/opt/starrocks/be/storage
      - ./starrocks-be-2/log:/opt/starrocks/be/log
      # Preserve bash & mysql client history
      - ./starrocks-be-2/root:/root
